body {
    background:
    linear-gradient(135deg, #fff 22px, #f3f3f3 22px, #f3f3f3 24px, transparent 24px, transparent 67px, #f3f3f3 67px, #f3f3f3 69px, transparent 69px),
    linear-gradient(225deg, #fff 22px, #f3f3f3 22px, #f3f3f3 24px, transparent 24px, transparent 67px, #f3f3f3 67px, #f3f3f3 69px, transparent 69px)0 64px;
    background-color:#fff;
    background-size: 64px 128px;
}

p + p {
    margin-top: 30px;
}

.posts {
    width: 55vw;
    margin: 90px auto 0px auto;
    overflow: hidden;
    padding: 0 40px;
}

.post {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px 4vw;
}

.post + .post {
    margin-top: 60px;
}

.post p {
    text-indent: 2em;
    font-size: 1.3em;
    text-align: justify;
}

.post pre {
    color: black;
    margin: 0 5vw;
    background-color: #f5f2f0;
    padding: 1.5em;
    font-size: 1.1em;
}

.hljs {
    background: none;
    padding: 0;
}

.footer {
    background-color: none;
    background: none;
}