body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, .7);

  height: 100vh;
}

#background-image {
  background-image: url(../images/protractor-min.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  filter: brightness(0.4);
  -webkit-filter: brightness(0.4);
  -moz-filter: brightness(0.4);
  -o-filter: brightness(0.4);
  -ms-filter: brightness(0.4);

  z-index: -1;
}

.navbar-default {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  margin-top: 8px;
}

.navbar-default .navbar-nav>li>a>svg {
  fill: rgba(255, 255, 255, .7);
}

.navbar-default .navbar-nav>li>a:hover>svg {
  fill: rgba(255, 255, 255, 1);
}

.navbar-default .navbar-nav>li>a {
  color: rgba(255, 255, 255, .7);
}

.navbar-default .navbar-nav>li>a:hover {
  color: rgba(255, 255, 255, 1);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

.navbar-right {
  margin-right: 0;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, .7);
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: rgba(255, 255, 255, 1);
}

.center-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-inside {
  text-align: center;
  width: 60%;
}

h1.header {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: rgba(255, 255, 255, .7);
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 45px;
    margin: 15px 0;
}

p.header-body {
    color: rgba(255, 255, 255, .7);
    font-size: 22px;
}