.arrow-container {
    position: absolute;
    width: 100%;
    bottom: 20pt;
    text-align: center;
    z-index: 1;
}

#down-arrow {
    stroke: rgba(255, 255, 255, .7);
    stroke-width: 2pt;

    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

#down-arrow:hover {
    stroke: rgba(255, 255, 255, 1);
}

h1.header {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: rgba(255, 255, 255, .7);
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 45pt;
    margin: 15pt 0;
}

h1.header.dark {
  color: rgba(0, 0, 0, .5);
}



.page-container h1.header {
  text-align: center;
  font-size: 35pt;
  margin: 0;
  margin-top: 65pt;
}



.front-page {
  width: 60%;
}

.page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.page-container {
  padding: 10pt 0;
  padding-bottom: 50pt;
}

#about-me-page {
  background:
  linear-gradient(135deg, #fff 22pt, #f3f3f3 22pt, #f3f3f3 24pt, transparent 24pt, transparent 67pt, #f3f3f3 67pt, #f3f3f3 69pt, transparent 69pt),
  linear-gradient(225deg, #fff 22pt, #f3f3f3 22pt, #f3f3f3 24pt, transparent 24pt, transparent 67pt, #f3f3f3 67pt, #f3f3f3 69pt, transparent 69pt)0 64pt;
  background-color:#fff;
  background-size: 64pt 128pt;
}

#about-me-page p {
  padding: 0 15vw;
  text-align: justify;
}

.skills-container {
  margin-top: 40pt;
  text-align: center;
}

.skill + .skill {
  margin-left: 50pt;
}

.skill {
  fill: transparent;
  stroke: rgba(77, 106, 121, .8);
  /*stroke: rgba(224, 50, 1, .8);*/
  stroke-width: 50pt;
  height: 200pt;
  stroke-dasharray: 0 1005;


  -webkit-transition: stroke-dasharray 1.5s ease-in-out;
  -moz-transition: stroke-dasharray 1.5s ease-in-out;
  -ms-transition: stroke-dasharray 1.5s ease-in-out;
  -o-transition: stroke-dasharray 1.5s ease-in-out;
  transition: stroke-dasharray 1.5s ease-in-out;
}

.skill .bg {
  stroke-dasharray: 1005 1005;
  /*stroke: rgba(224, 50, 1, .2);*/
  stroke: rgba(77, 106, 121, .2);
}

.skill text {
  text-anchor: middle;
  font-size: 35pt;
  stroke-width: 2pt;
  stroke: rgba(0, 0, 0, .5);
}

.skill circle {
  cx: 200;
  cy: 200;
  r: 160;
}

.skills-row #skill-90 {
  stroke-dasharray: 950 55;
}

.skills-row #skill-80 {
  stroke-dasharray: 910 95;
}

.skills-row #skill-85 {
 stroke-dasharray: 930 75;
}

.skills-row #skill-75 {
  stroke-dasharray: 870 135;
}

.skills-row #skill-70 {
  stroke-dasharray: 800 205;
}


#portfolio-page .bg-img {
  background-image: url(../images/notebook-min.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  left: -20pt;
  right: -20pt;
  top: -20pt;
  bottom: -20pt;

  filter: brightness(0.4) blur(5pt);
  -webkit-filter: brightness(0.4) blur(5pt);
  -moz-filter: brightness(0.4) blur(5pt);
  -o-filter: brightness(0.4) blur(5pt);
  -ms-filter: brightness(0.4) blur(5pt);
}

.project-container {
  padding-top: 70pt;
  padding-bottom: 70pt;
  position: relative;
  z-index: 100;
}

.project {
  padding: 20pt 15vw;
}
.project p {
  font-size: 18pt;
  text-align: justify;
}

.project h2 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0;
}