@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  background-color: #fff;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

.bg-img {
  background-image: url(https://images.unsplash.com/photo-1433840496881-cbd845929862?dpr=2&fit=crop&fm=jpg&h=1025&ixjsv=2.0.0&ixlib=rb-0.3.5&q=50&w=1550);
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -100;

  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
  -moz-filter: brightness(0.5);
  -o-filter: brightness(0.5);
  -ms-filter: brightness(0.5);
}

.navbar {
  background-color: #aaa;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  padding: 10px 10px;
}

.navbar-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: transparent;

  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.navbar-bg.dark {
  height: 70px;
  background-color: #fff;
}

.nav-menu,
.media-icons {
  display: inline;
  position: fixed;
}

.nav-menu {
  top: 25px;
  left: 10px;
}

.nav-menu ul {
  display: inline;
  list-style: none;
  padding: 0;
}

.nav-menu ul li {
  display: inline;
  position: relative;
}

.nav-menu ul li a {
  text-decoration: none;
  font-family: 'Montserrat', helvetica, sans-serif;
  color: rgba(255, 255, 255, .6);
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 15px;

  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.nav-menu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -12px;
  height: 2px;
  width: 0%;
  background-color: rgba(255, 255, 255, .6);

  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.nav-menu.dark ul li a:before {
  background-color: rgba(0, 0, 0, .5);
}

.nav-menu ul li a:hover:before {
  width: 100%;
}

.nav-menu ul li a:hover {
  color: rgba(255, 255, 255, 1);
}

.nav-menu.dark ul li a {
  color: rgba(0, 0, 0, .5);
}

.nav-menu.dark ul li a:hover {
  color: rgba(0, 0, 0, .9);
}




.media-icons {
  top: 21px;
  right: 25px;
}

.media-icons svg {
  fill: rgba(255, 255, 255, .6);

  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.media-icons svg:hover {
  fill: rgba(255, 255, 255, 1);
}

.media-icons.dark svg {
  fill: rgba(0, 0, 0, .5);
}

.media-icons.dark svg:hover {
  fill: rgba(0, 0, 0, .9);
}

.media-icons a + a {
  margin-left: 15px;
}

.arrow-container {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    z-index: 1;
}

#down-arrow {
    stroke: rgba(255, 255, 255, .6);
    stroke-width: 2px;

    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

#down-arrow:hover {
    stroke: rgba(255, 255, 255, 1);
}

h1.header {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: rgba(255, 255, 255, .6);
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 45px;
    margin: 15px 0;
}

p.lead {
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, .6);
    font-size: 20px;
    margin: 15px 0;
}

.center-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

.center-outside {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
}

.center-inside {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 60%;
    overflow: auto;
    text-align: center;
}

.page {
  height: 100vh;
}

.hidden {
  visibility: hidden;
}