body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: #0D2E3D;
    font-size: 18px;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

a {
    color: initial;
    text-decoration: none;
    color: #113C4F;
}

a:visited {
    color: #113C4F;
}

hr {
    border-top: 1px solid #ddd;
}

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.container {
    padding: 0 16px;
}

.masthead {
    background-color: white;
    padding: 12px 0;
}

.masthead .container {
    display: flex;
    justify-content: space-between;
}

.masthead-title {
    margin: 0;
}

.masthead-body a {
    display: none;
}

.masthead-title,
.masthead-body {
    display: flex;
    align-items: center;
}

.menu {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    transition: height .5s;
}

.menu.hidden {
    height: 0;
}

.menu a {
    display: block;
    padding: 8px 12px;
}

.menu a {
    border-top: 1px solid #eee;
}

#menu-toggle:hover {
    cursor: pointer;
}

.page-title {
    color: white;
    background-color: #247BA0;

    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

.page-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
}

.post-date,
.preview-date {
    opacity: .6;
}

.page-body {
    margin-top: 24px;
}

.preview {
    padding-bottom: 24px;
    padding-top: 16px;
}

.page-body a,
.preview-body a {
    color: #1f6c8e;
}

.preview:first-of-type {
    padding-top: 0;
}

.preview + .preview {
    border-top: 1px solid #eee;
}

.preview-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0;
    font-size: 24px;
}

.preview-body {
    margin-top: 8px;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 20px;
    }
    
    .container {
        padding: 0 20%;
    }

    .masthead-body a {
        display: inline-block;
    }

    .masthead-body a + a {
        margin-left: 24px;
    }

    #menu-toggle,
    .menu {
        display: none;
    }

    .page-title {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .page-title h1 {
        font-size: 48px;
    }

    .page-body {
        margin-top: 32px;
    }

    .preview-title {
        font-size: 32px;
    }

    .preview-body {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        padding: 0 30%;
    }

    .page-title {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
