/* Variables */

:root {
    --darkest-green: #17252A;
    --dark-green: #2B7A78;
    --medium-green: #3AAFA9;
    --light-green: #DEF2F1;

    --white: #FEFFFF;
    --lightest-gray: #F9F9F9;
    --light-gray: #CCCCCC;
    --medium-gray: #888888;
    --dark-gray: #333333;

    --border: var(--light-gray);

    --link: var(--dark-green);
    --link-hover: var(--darkest-green);

    --code-fg: #BF616A;
    --code-bg: var(--lightest-gray);

    --table-border: var(--light-gray);
    --table-odd: var(--lightest-gray);

    --page-title-bg: var(--dark-green);
    --page-title-fg: var(--white);

    --footer-bg: var(--light-green);
}

/* Page setup */

* {
    box-sizing: border-box;
    transition: color .1s ease-in-out;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--white);
    color: var(--dark-gray);
    font-size: 14px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--link);
}

a:visited {
    color: var(--link);
}

a:hover,
a:visited:hover {
    color: var(--link-hover);
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* code */

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: var(--code-fg);
  background-color: var(--code-bg);
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: var(--code-bg);
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

/* Tables */

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid var(--table-border);
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid var(--table-border);
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: var(--table-odd);
}

/* Lists */

.detail + .list-header {
    margin-top: 16px;
}

.list-header {
    font-weight: bold;
}

.list-header + ul,
.list-header + ol {
    margin-top: 0;
}

/* Misc elements */

.divider {
    height: 0px;
    border-top: 1px solid var(--border);
    margin-top: 24px;
}

.detail {
    font-family: 'Lato', sans-serif;
    color: var(--medium-gray);
}

/* Info Group */

.info-group-title {
    display: flex;
    flex-direction: column;
}

.info-group-title h3 {
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .info-group-title {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* layout */

.container {
    padding-left: 16px;
    padding-right: 16px;
}

@media only screen and (min-width: 768px) {
    .container {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        padding-left: 30%;
        padding-right: 30%;
    }
}

/* Masthead and menu */

.masthead {
    display: flex;
    justify-content: space-between;
}

.masthead a {
    padding: 12px 0;
}

.masthead-title {
    margin: 0;
}

.masthead-body a {
    display: none;
}

.masthead-body {
    display: flex;
    align-items: center;
}

.menu {
    overflow: hidden;
    transition: height .5s;
}

.menu.hidden {
    height: 0;
}

.menu a {
    display: block;
    padding: 8px 12px;
}

#menu-toggle {
}

#menu-toggle:hover {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .masthead-body a {
        display: inline-block;
    }

    .masthead-body a + a {
        margin-left: 24px;
    }

    #menu-toggle,
    .menu {
        display: none;
    }
}

/* Page */

.page-title {
    color: var(--page-title-fg);
    background-color: var(--page-title-bg);

    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

.page-title h1 {
    font-weight: bold;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .page-title {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .page-title h1 {
        font-size: 48px;
    }
}

/* Preview */

.preview {
    padding: 24px 0;
}

.preview + .preview {
    border-top: 1px solid var(--border);
}

.preview-title {
    margin: 0;
}

.preview-body p {
    margin-bottom: 0;
}

/* Footer */

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 72px;
}

.footer {
    background-color: var(--footer-bg);
    padding-top: 16px;
    padding-bottom: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between
}
