<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
    <div class="masthead container">
        <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        </h3>
        <div class="masthead-body">
            <i id="menu-toggle" class="material-icons">menu</i>
        </div>
    </div>
    <div id="menu" class="menu hidden">
        <!-- <a class="nav-link" href="{{ site.baseurl }}/">Home</a> -->
        {% assign pages_list = site.pages | sort:"url" %}
        {% for node in pages_list %}
            {% if node.exclude != true %}
                {% if node.layout == "page" %}
                    <a class="nav-link" href="{{ node.url }}">{{ node.navTitle }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="content">
        {{ content }}
    </div>

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            const links = $('.nav-link');
            links.each(function() {
                $('.masthead-body').append($(this).clone());
            });

            $('#menu-toggle').click(() => {
                const menu = $('.menu');
                if (menu.hasClass('hidden')) {
                    menu.height(menu[0].scrollHeight);
                    menu.removeClass('hidden');
                } else {
                    menu.height(0);
                    menu.addClass('hidden');
                }
            });
        });
    </script>
</body>

</html>
